@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans SemiCondensed';
    src: url('../fonts/OpenSansSemiCondensed-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}


* {
    box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: top;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html {
    height: 100%;
}
body {
    font-size: 18px;
    color: #161616;
    background: #9c3;
    height: 100%;
}
/* SIDEBAR */

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    background: lightgray;
    width: 60px;
    overflow: hidden;
    height: 100%;
}

.sidebar:hover {
    width: 350px;
    overflow: visible;
}

.sidebar li {
    display:block;
    width:350px
}


.sidebar-list li a {
    display: block;
    text-decoration: none;
    color: #161616;
    text-transform: uppercase;
    padding: 20px 10px 10px 20px; 
}

.sidebar-list li a:hover {
    background:brown;
}

.sidebar + .wrapper {
    padding-left: 60px;
}

.sidebar-list {
    display: flex;
    flex-direction: column;
    padding-top: 80px;
}

.svg {
    width: 30px;
    height: 30px;
    margin-right: 15px;
    border: 3px solid green;
    transform: rotate(45deg);
}

.svg:hover {
    transform: scale(1.2) rotate(-45deg);
    border-radius: 70%;
}



.hiden {
    width: 0;
    height: 0;
    position: absolute;
    z-index: -1;
}
.icon {
    width: 30px;
    height: 30px;
    fill: #909;
}
.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

/* Максим ты сказал убрать здесь флексы , я их закоментил и у меня сразу увеличились зеленые блоки в хедере. я закоментировал for-icons-left and for-icons-right */
/*.for-icons-left {
    display: flex;
    align-items: center;
}

.for-icons-right {
    display: flex;
    align-items: center;
}*/

.main {
    flex: 1 1 auto;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
}

.header {
    padding: 20px 0;
    background: #909;
    font-family: 'Roboto';
    font-weight: 400;
}

.header-menu {
    background: yellow;
    display: flex;
    justify-content: center;
    gap: 15px;
}

.header-menu li {
    background: #3c6;
    position: relative;
}

.header-menu > li:last-child > a {
    padding: 10px 40px 10px 25px;
}

.header-menu > li:last-child > a > svg {
    left: auto;
    right: 4px;
}

.header-menu li a {
    display: block;
    text-decoration: none;
    color: #161616;
    text-transform: uppercase;
    padding: 10px 25px 10px 40px;
    position: relative;
    white-space: nowrap;
}

.header-menu > li a svg {
    position: absolute;
    top: 4px;
    left: 4px;
}

.header-menu li:hover .second-menu {
    /*display: block;*/
    top: 100%;
}

.second-menu {
    /*display: none;*/
    padding-top: 20px;
    position: absolute;
    top: -1000%;
    right: 0;
    font-family: 'Montserrat';
    font-weight: 400;
    transition: top .1s linear;
}


.second-menu li {
    background: gold;
}
/* для third-menu изменения */
.third-menu {
    position: absolute;
    right: 100%;
    top: -1000%;
    font-family: 'Open Sans SemiCondensed';
    font-weight: 400;
    transition: top .4s linear;
}

.third-menu li {
    background: red;
    width: 100%;
}
/* и тут изменения для third-menu */
.second-menu li:last-child:hover ul {
    /*display: block;*/
    top: 0;
}

/* GALLERY .......................... */

.containerr {
    max-width: 630px;
    margin: 0 auto;
    padding: 0 15px;
    background:#85D7FF;
}
.city {
    max-width: 600px;
    outline: 2px solid brown;
    margin-bottom: 15px;
    padding: 0 100px;
    position: relative;
}

.title {
    text-align: center;
    text-transform: uppercase;
    font-size: 36px;
    margin: 60px 0;
}

.menu {
    background:burlywood;
    position: fixed;
    top: 50%;
    left: 10px;
    margin-top: -95px;
    text-align: center;
}

.list-menu li:hover {
    background:#161616;
}

.list-menu li {
    border:1px solid crimson;
}

.list-menu li > a {
    text-decoration: none;
    color:#fff;
    padding: 10px 30px;
    display: inline-block;
}

.hiden {
    display: none;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    height: 220px;
    overflow: hidden;
    text-align: justify;
    padding: 10px;
    margin-top: -110px;
    color: #fff;
    background: rgba(0, 0, 0, .7)
}
.city:hover .hiden {
    display: block;
}

.footer {
    background: #85D7FF;
    padding: 25px 0;
} 

.yellow {
    display: flex;
    justify-content: center;
}

/* FLEX CSS .............................. */


.box {
    width: 1200px;
    margin: 20px auto;
}

.bg-aqua {
    background: aqua;
}
.bg-green {
    background: greenyellow;
}
.bg-dark {
    background: darkorange;
}
.outline {
    outline: 2px solid red;
}
.fz-0 {
    font-size: 0px;
}
.fz-20 {
    font-size: 20px;
}
.w-400 {
    width: 400px;
}
.w-800 {
    width: 800px;
}
.h-100 {
    height: 100px;
}
.h-133 {
    height: 133.33px;
}
.h-200 {
    height: 200px;
}
.h-400 {
    height: 400px;
}

/* one class for flex project ....... */

.flexx {
    display: flex;
}

/* two classes for float project ...... */

.floattt {
    float: left;
}

.clearfix::after {
    display: block;
    clear: both;
    content: '.'
}

/* one class for inline-block project .... */

.inline-block {
    display: inline-block;
}
